html {
    font-family: mono-serif;
    background-color: rgb(196, 236, 116);
}
span {
  display: inline-block;
  margin: 35px;
  -webkit-transform: scale(2, 1);
  -ms-transform: scale(2, 1);
  -moz-transform: scale(2, 1);
  -o-transform: scale(2, 1);
  transform: scale(2, 1);
  
}
header {
  margin: 10px;
  background-color: rgb(114, 153, 37);
	box-shadow: 10px 10px darkolivegreen; 
}
main {
  text-align: center;
  margin: 70px;
  background-color: yellowgreen;
	box-shadow: 10px 10px darkolivegreen;
}
hr {
  border: 1mm dashed darkolivegreen;
}
object {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}
img {
  max-width: 50%;
  height: 20%;
  display: inline-block;
  margin: 2px;
}
@media (max-width: 567px) {
  .content {
  margin: 30px;
  background-color: yellowgreen;
	box-shadow: 10px 10px darkolivegreen;
  }
  span {
  display: inline-block;
  margin: 20px;
  -moz-transform: scale(1.5, 1);
  transform: scale(1.5, 1);
 }
}

button {
    font-size: 16px;
    font-family: Comic Sans MS, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    text-align: center;
    padding: 15px 16px;
    color: rgb(116, 116, 116);
    border-radius: 12px;
    border-color: black;
}
button:hover {
    color: red;
}
