body {
    background-image: url("images/infinitewater.gif");
}
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: xx-large;
    color: white;
    text-align: center;
}
.kitkat {
    background-image: url("images/kitkat.gif");
    background-repeat: repeat-x;
}
.videos {
    iframe {
        margin-left: -2px;
        margin-right: -2px;
        max-width: 20%;
    }
}
